.carousel-prev{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50px;
    height: 50px;
    opacity: .8;
    background-color: $color-black-2;
    z-index: 3;  
    text-align: center;
    span{
        @include styleText($color-white-0,$fs-4,$fw-normal);
        line-height: 50px;
        
    }
    &:hover{
        background-color: $color-white-0;
        border: 1px solid $color-blue-6;
        border-left: unset;
        &>span{
            color: $color-blue-6;
        }
    }

}
.carousel-next{
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 50px;
    opacity: .8;
    background-color: $color-black-2;
    z-index: 3;
    text-align: center;
    span{
        @include styleText($color-white-0,$fs-4,$fw-normal);
        line-height: 50px;
    }
    &:hover{
        background-color: $color-white-0;
        border: 1px solid $color-blue-6;
        border-right: unset;
        &>span{
            color: $color-blue-6;
        }
    }
}

