*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    @include styleText($color-black-1,$fs-0,$fw-normal);
}
